<div id="navbar-shinkan">
	<ul>
		<a class="btn btn-block btn-primary" href="./index.html" role="button"><span style="color:#ffffff;"><b>ようこそ！ロ技研へ</b></span></a>
		<a class="btn btn-block btn-primary" href="./welcome_events.html" role="button"><span style="color:#ffffff;"><b>新歓イベント日程</b></span></a>
		<a class="btn btn-block btn-primary" href="./how_to_join_ssr.html" role="button"><span style="color:#ffffff;"><b>入部するには</b></span></a>
		<a class="btn btn-block btn-primary" href="./ssr_activities.html" role="button"><span style="color:#ffffff;"><b>活動紹介</b></span></a>
		<a class="btn btn-block btn-primary" href="./ssr_laboratory.html" role="button"><span style="color:#ffffff;"><b>ロ技研の研究室</b></span></a>
		<a class="btn btn-block btn-primary" href="./ssr_equipment.html" role="button"><span style="color:#ffffff;"><b>部室の設備一覧</b></span></a>
		<a class="btn btn-block btn-primary" href="./introduce.html" role="button"><span style="color:#ffffff;"><b>ロボット制御シミュレーション体験会</b></span></a>
		<a class="btn btn-block btn-primary" href="./links.html" role="button"><span style="color:#ffffff;"><b>リンク集</b></span></a>
	</ul>
</div>
