<section>
    <div id="ssr_activities">
        <h2>活動紹介</h2>
        <hr></hr>
        <h3>ロ技研の目的</h3>
        <p>部の存在の目的は、主に部員の研究活動に関する相互扶助です。そのため、特に部全体で何かのコンテストを目標にするといった活動は一切行いません。様々な部員の研究や活動の記録が、そのままロ技研の研究・活動になります。 </p>
        <h3>ロ技研の年間イベント</h3>
        <p>ロボット技術研究会では、東京科学大学の大学祭と、春の新歓活動が年に2回の対外的な研究発表の場となりますが、各活動グループ単位でコンテスト（NHKロボコン、ROBO-ONEなど）への参加することも積極的に行われています。 
        また、ロ技研内部では年2回の「研究報告会」、小規模の勉強会である「rogyゼミ」もあり、お互いの技術力・知識を共有しています。</p>
        <div class="bordered" style="margin-top:0.5em;">
            <p style="margin:0;font-size:small;">（この他にも毎月の「部会」や、OB会、各種展示会・コンテストなどがあります。）</p>
            <table class="MsoTable15Grid4Accent5" style="border-collapse: collapse; border: none; width: 512px;">
                <tbody>
                    <tr>
                        <td style="border-top: 1pt solid rgb(91, 155, 213); border-bottom: 1pt solid rgb(91, 155, 213); border-left: 1pt solid rgb(91, 155, 213); border-image: initial; background: rgb(91, 155, 213); width: 37px; border-right: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><b><span style="color:white">月</span></b></span></span></div>
                        </td>
                        <td style="border-top: 1pt solid rgb(91, 155, 213); border-right: 1pt solid rgb(91, 155, 213); border-bottom: 1pt solid rgb(91, 155, 213); border-image: initial; background: rgb(91, 155, 213); width: 161px; border-left: none; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><b><span style="color:white">行事</span></b></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; background: rgb(222, 234, 246); width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">4</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; background: rgb(222, 234, 246); width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span style="color:black">新歓イベント</span></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">5</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span style="color:black">ホームカミングデイ</span></span><br/>
                                    <span style="font-size:10.5pt"><span style="color:black">各種講習会</span></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; background: rgb(222, 234, 246); width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">6</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; background: rgb(222, 234, 246); width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">NHK</span></span><span style="color:black">学生ロボコン</span></span><br/>
                                    <span style="font-size:10.5pt"><span style="color:black">各種講習会</span></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">7</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span style="color:black">前期研究報告会</span></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; background: rgb(222, 234, 246); width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">8</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; background: rgb(222, 234, 246); width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">Maker Faire Tokyo</span></span></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">9</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span style="color:black">夏合宿</span></span><br/>
                                    <span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">F<sup>3</sup>RC</span></span></span><br/>
                                    <span style="font-size:10.5pt"><span style="color:black">ミニコン</span></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; background: rgb(222, 234, 246); width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">10</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; background: rgb(222, 234, 246); width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span style="color:black">大学祭での作品展示</span></span><br/>
                                    <span style="font-size:10.5pt"><span style="color:black">仮打ち上げ</span></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">11</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black"></span></span></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; background: rgb(222, 234, 246); width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">12</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; background: rgb(222, 234, 246); width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227"> <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">Advent Calendar</span></span></span><br/>
                                    <span style="font-size:10.5pt"><span style="color:black">後期研究報告会</span></span><br/>
                                    <span style="font-size:10.5pt"><span style="color:black">本打ち上げ</span></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">1</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black"></span></span></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; background: rgb(222, 234, 246); width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">2</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; background: rgb(222, 234, 246); width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black"></span></span></span></span></div>
                        </td>
                    </tr>
                    <tr>
                        <td style="border-right: 1pt solid windowtext; border-bottom: 1pt solid windowtext; border-left: 1pt solid windowtext; border-image: initial; width: 37px; border-top: none; padding: 0mm 5.4pt;" valign="top" width="56">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span lang="EN-US"><span style="color:black">3</span></span><span style="color:black">月</span></span></span></div>
                        </td>
                        <td style="border-bottom: 1pt solid windowtext; width: 160px; border-top: none; border-left: none; border-right: 1pt solid windowtext; padding: 0mm 5.4pt;" valign="top" width="227">
                            <div><span style="font-family:Arial,Helvetica,sans-serif;"><span style="font-size:10.5pt"><span style="color:black">冬合宿</span></span><br/>
                                    <span style="font-size:10.5pt"><span style="color:black">追い出しコンパ・OB会</span></span></span></div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h3>新入生向けイベント: F<sup>3</sup>RC</h3>
        <p>「ロ技研に入部したけど、何をすればいいのかわからない」「ロボットを作ったことがないので、技術を付けたい」……そんな人はF<sup>3</sup>RCに参加しましょう。</p>
        <p>F<sup>3</sup>RCとは、9月に行われる複数の大学が合同で開催し、新入生の技術向上を目的として行うロボットコンテストです。機械工作、電子工作、プログラミングの初心者がロボットを作ることでそれらの技術を向上させることが目的です。</p>
        <p>F<sup>3</sup>RCでは、各チーム7~8人程度にわかれて数台のロボットを制作します(上級生のアドバイザーが付きます)。ロ技研ではF<sup>3</sup>RCのために「機械講習会」「回路講習会」「マイコン講習会」などを開催し、初心者の方をサポートします。</p>
        <p>毎年多くの新入生がF<sup>3</sup>RCに参加し、成績を残しています。F<sup>3</sup>RCの公式ホームページは<a href="http://f3rcontest.web.fc2.com/">こちら</a>をどうぞ。</p>
        <h3>ギャラリー (クリックで拡大)</h3>
        <ul id="activity_imgs" class="gallery">
            <li><a href="img/minicon1.jpg" data-lightbox="activities" title="部内ロボットコンテスト「ミニコン」の風景。"><img src="thumb/minicon1.jpg" alt="F^3RC" width="100" height="100"></img></a></li>
            <li><a href="img/minicon2.jpg" data-lightbox="activities" title="部内ロボットコンテスト「ミニコン」の風景その2。学年問わず多くの部員が参加しています"><img src="thumb/minicon2.jpg" alt="F^3RC" width="100" height="100"></img></a></li>
            <li><a href="img/hakusei.jpg" data-lightbox="activities" title="機械系OBの会「白星会」でもロ技研が展示を行いました。"><img src="thumb/hakusei.jpg" alt="白星会" width="100" height="100"></img></a></li>
            <li><a href="img/rogyconf2.jpg" data-lightbox="activities" title="ロ技研内部での日々の研究や制作を紹介する「研究報告会」。部員のレベルの高い発表が行われます。"><img src="thumb/rogyconf2.jpg" alt="研究報告会" width="100" height="100"></img></a></li>
            <li><a href="img/rogyconf.jpg" data-lightbox="activities" title="「研究報告会」その2、皆さんパソコンを開いていますが、Twitterで実況をしているようです。"><img src="thumb/rogyconf.jpg" alt="研究報告会2" width="100" height="100"></img></a></li>
            <li><a href="img/kodaisai1.jpg" data-lightbox="activities" title="毎年10月に行われていた「工大祭」では毎年多くの人がロ技研の展示に訪れていました。"><img src="thumb/kodaisai1.jpg" alt="工大祭1" width="100" height="100"></img></a></li>
            <li><a href="img/kodaisai2.jpg" data-lightbox="activities" title="「工大祭」の展示ではF3RCで使われた機体も展示され、来場者が自由にロボットを動かせまました。"><img src="thumb/kodaisai2.jpg" alt="工大祭2" width="100" height="100"></img></a></li>
            <li><a href="img/kodaisai3.jpg" data-lightbox="activities" title="工大祭で展示していたゲームです。子どもたちに大人気。"><img src="thumb/kodaisai3.jpg" alt="工大祭3" width="100" height="100"></img></a></li>
            <li><a href="img/summergasshuku.jpg" data-lightbox="activities" title="ロ技研では毎年合宿が行われます。合宿とは言っても殆ど旅行のようなものです。これは夏の合宿の様子。"><img src="thumb/summergasshuku.jpg" alt="スキー合宿" width="100" height="100"></img></a></li>
        </ul>
    </div>
</section>
