<div id="doc" class="markdown-body container-fluid comment-enabled" data-hard-breaks="true" style="position: relative;">
    <h1 id="ロボット制御シミュレーション-オンライン体験会">ロボット制御シミュレーション オンライン体験会</h1>
    <p><a href="https://forms.gle/EvJ1bwm6EaMaL1HH7" target="_blank" rel="noopener">参加登録フォームはこちら!</a></p>
    <h2 id="ロボットの制御って？">ロボットの制御って？</h2>
    <p>
        ロボット、といえば人型だったりクモ型だったり最近ではPepper君を想像するかと思います。もちろんそれらもロボットですが、車や工場のロボットアーム、ドローンや家電も含まれます。<br />
        そんなロボットは機体だけでは動きません。Pepper君が人の手の動きを再現したり、やロボットアームがきれいに製品を組み立てるためには、その指や腕をどう動かすがプログラム、つまりコンピュータ上で決めてあげる必要があります。<br />
        一見するとただ人の動きを真似したり1通りの動きをしているだけですが、その裏側は非常に高度な数理モデリングや解析で成り立っています。今回の体験会では、そんな数理によってロボットにどうやって望んだ動きをさせるかをシミュレーションを通して学んでいきます！
    </p>
    <p><video src="mov/introduce/maguinista.mp4" alt="Maquinista"></video></p>
    <h2 id="今回の体験会では…">今回の体験会では…</h2>
    <p>
        体験会ではMATLAB(マトラボ)という高機能計算ソフトウェアを使い、ロボットのセンサーや移動機構をコンピュータ上で再現します。<br />
        例えば黒い線の上を台形のロボットにまっすぐ移動させたいとします。ここには、「ライントレース」という制御が使われています。走るロボットの裏側に赤い〇で示した光センサーを取り付け、ラインの色を感知したらそのラインの上をキープしながら通るように保ち続けます。<br />
        一見簡単そうですが、ちょっとでも方向がずれてしまったら？
    </p>
    <p><video src="mov/introduce/failure.mp4" alt="failure"></video></p>
    <p>
        軌道修正する前に完全にラインからはずれ、見失ってしまいました…<br />
        ロボットの速度や回転、パワーを細かく観測・変化させ、数理を用いて上手に修正するのが制御の腕の見せ所です！
    </p>
    <p><video src="mov/introduce/success.mp4" alt="success"></video></p>
    <p>
        きれいにラインの上を通るようになりました！しかし、どのような理論で最適な動きを実現したのでしょうか？<br />
        その方法は体験会で学ぶことができます！
    </p>
    <h2 id="体験会への参加方法は…">体験会への参加方法は…</h2>
    <p>
        体験会へ参加するには、以下の参加フォームに回答します。その後Slackというビジネスチャットに招待されるので、アカウントを作製しログインすることで参加できます。
        （確認のため招待メール送信に時間がかかることがあります）<br />
        内容はSlack加入後に入れるwikiというページに記載されているステップでソフトを使ってもらったり、問題を解いたりしてもらいます。
    </p>
    <p>
        体験会でわからない事やロ技研について知りたいことがあれば、Slackで先輩たちが教えてくれます。オンライン教材なので時間制限もありません。一人で一気にやることも、友達を誘って一緒にやることもできます。<br />
        もちろん入部やその意思は関係ありません。「ちょっとだけやってみよう」という方も大歓迎です！
    </p>
    <p>参加は以下のリンクから可能です。お待ちしています！</p>
    <p><a href="https://forms.gle/EvJ1bwm6EaMaL1HH7" target="_blank" rel="noopener">参加登録フォームはこちら!</a></p>
</div>
