<meta charset="utf-8">
<title>東京科学大学ロボット技術研究会2025年度新歓ページ</title>
<meta name="keywords" content="東工大,東京工業大学,東京科学大学,ScienceTokyo,サークル,部活,ロボット,ロボコン,電子工作,プログラミング,ゲーム制作,ものつくり,インカレ,ロ技研" />
<meta name="description" content="東京科学大学ロボット技術研究会は、NHKロボコン等の各種ロボット制作をはじめ、電子工作やプログラミングなどの活動を自由に行うことができる東京科学大学公認サークルです。" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
<link rel="stylesheet" href="module/mobile.css">
<link rel="stylesheet" href="module/lightbox.css">
<script src="module/jquery-1.10.2.min.js"></script>
<script src="module/main.js"></script>
<script src="module/lightbox-2.6.min.js"></script>
<!-- from here, copy and paste from www.rogiken.org-root/index.html -->
<link href="css/bootstrap.min.css" rel="stylesheet">
<script type="text/javascript" src="https://www.google.com/jsapi"></script>
<script src="js/bootstrap.min.js"></script>
<!---->
<!--[if lt IE 9]>
<script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link href="css/styles.css" rel="stylesheet">
