<div class="container">
	<div class="row">
	    <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
		    <div id="navbar-shinkan">
                <%-  include('navbar_shinkan');  %>
            </div>
		    <div id="main">
		        <div id="anchor">
                    <%-  include('sharebuttons');  %>
			    </div>
		    </div>
		</div>
		<div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
			<div id="wrapper">
			    <div id="contents">
                    <%- include('../' + filename); %>
                </div>
			</div>
		</div>
	</div>
</div>
