<section>
    <h2>ようこそ！ロ技研へ</h2>
    <hr></hr>
	<p>新入生の皆さん、ご入学おめでとうございます。これから始まるキャンパスライフに期待を寄せている人も多いと思います。また、せっかく大学に入ったのだから、新しく何かしたい、何かを作りたい、楽しく自由な活動をしたい、と思っている人もいるのではないでしょうか。</p>
	<p>東工大公認サークル「ロボット技術研究会」はあなたのその意欲に応えます。</p>
	<p>「ロボット技術研究会」通称「ロ技研」は、その名前の通りロボットの制作や研究はもとより、電子工作や機械工作、プログラミングなどの幅広い分野にわたるものつくり活動を行っています。さらに、特に部の活動日や活動内容には制約がありません。自分の好きな時間に、自分の好きなことに打ち込むことができます。</p>
	<p>技術力に自信のない方も大丈夫！ロ技研は100人以上の部員がおり、人的資源が豊富です。分からないこと、知りたいことは先輩が教えてくれます。自分がやりたい事を相談するのも良いでしょう。</p>
	<p>もちろん新入生だけではなく、2年生以上も歓迎します。またロ技研はインカレサークルであるため、他大学の学生も入部して活動できます。(インカレ生には部費の優遇制度があります。) 他の部活・サークルと兼部していても問題ありません！</p>
	<p>まずはロ技研の新歓イベントに参加してその雰囲気を味わってみてください。皆さんのご参加をお待ちしています。</p>
</section>
