<section>
    <div id="ssr_equipment">
        <h2>部室の設備一覧</h2>
        <div id="eq_lst_wrapper">
            <ul class="eq_lst">
                <li>エアコンプレッサー</li>
                <li>グラインダー</li>
                <li>旋盤</li>
                <li>定盤</li>
                <li>バンドソー</li>
                <li>フライス盤</li>
                <li>CNCフライス</li>
                <li>丸鋸盤</li>
                <li>3Dプリンタ</li>
            </ul>
            <ul class="eq_lst">
                <li>手動曲げ器</li>
                <li>電動サンダー</li>
                <li>オシロスコープ</li>
                <li>電子パーツストック</li>
                <li>電源装置</li>
                <li>ファンクションジェネレータ</li>
                <li>はんだごて</li>
            </ul>
            <ul class="eq_lst">
                <li>パソコン(2台)</li>
                <li>プリンタ</li>
                <li>無線LAN環境</li>
                <li>冷蔵庫</li>
                <li>冷暖房</li>
                <li>書籍・技術書</li>
            </ul>
            <p id="etc">など……是非一度見学を！</p>
            <ul id="eq_imgs" class="gallery">
                <li><a href="img/3dprinter.jpg" data-lightbox="equipments" title="「3Dプリンタ」三次元のデータを物体として出力できます"><img src="thumb/3dprinter.jpg" alt="3Dプリンタ" width="100" height="100"></a></li>
                <li><a href="img/cnc.jpg" data-lightbox="equipments" title="CNCフライス「KURO」PCにデータを入力すると自動で削ってくれます"><img src="thumb/cnc.jpg" alt="CNCフライス「HAKU」" width="100" height="100"></a></li>
                <li><a href="img/furaisu.jpg" data-lightbox="equipments" title="フライス盤です。ロ技研で加工する人には必須。"><img src="thumb/furaisu.jpg" alt="フライス盤" width="100" height="100"></a></li>
                <li><a href="img/bushitsu.jpg" data-lightbox="equipments" title="部室です。手前が機械工作の領域。奥が生活領域です。"><img src="thumb/bushitsu.jpg" alt="部室" width="100" height="100"></a></li>
            </ul>
        </div>
    </div>
</section>
