<section>
    <div id="ssr_laboratory">
        <h2>ロ技研の研究室</h2>
        <hr></hr>
        <p>ロ技研では「研究室」（と呼ばれる小さな構成単位毎に自由に活動しています。）にわかれ、各研究室が独自にテーマを設けて研究活動を行っています。（この研究室は大学の研究室とは一切関係はありません。） 
        各研究室は各々の研究テーマにそって、種々のコンテストに参加したり、研究したりしています。</p>
        <p>現在ロ技研にある研究室は以下のとおりです。</p>
        <ul>
            <li>ちびロボ研</li>
            小型ロボット製作
            <li>ACT</li>
            マニピュレータ・二足歩行ロボットの製作/ROBO-ONE
            <li>RPG王国</li>
            ゲーム制作
            <li>たのしいロボット帝国</li>
            歯車やリンク機構等の機械要素とロボット製作
            <li>Maquinista</li>
            NHKロボコン
            <li>CG-SQUARE</li>
            物理エンジン製作
            <li>アクア研</li>
            水中ロボコン
            <li>Cheese</li>
            マイクロマウス
            <li>szk^2技研</li>
            知能ロボコン
            <li>VR研</li>
            Hololens開発等
            <li>アシスト研</li>
            役に立つおもしろいものの開発
        </ul>
    </div>
</section>
