<section>
    <div id="how_to_join_ssr">
    <h2>入部するには</h2>
    <hr></hr>
    <p>ロ技研に入部したい方は、<a href="https://t.co/zfcQr9CKXS">入部フォーム</a>に回答してください。</p>
    <p>ロ技研に在籍している人は、半期(半年)に1回部費8000円を収める必要があります。ただし、新入生の場合は、1年目の前期については部費が6000円になります。</p>
    </div>
</section>
