body {
	margin:0;
	padding:0;
	line-height: 1.5em;
	font-family: "ヒラギノ丸ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", Helvetica, Verdana, Arial, sans-serif;
	font-size: 14px;
    padding-top:50px;
}
#top {
    position: relative;
    color: #FFF;
    background-image: linear-gradient(to bottom,#052d5d 0, #03447d 100%);
    background-position:95% center;
    background-repeat:no-repeat;
    padding:80px 0;
}

#top.header h1 {
    font-size:400%;
}

#top p {
    font-size:150%;
    padding:20px;
    opacity:0.7;
}

#top #buttons a {
    margin-right:1em;
}

#top-short {
    position: relative;
    color: #FFF;
    background-image: linear-gradient(to bottom,#052d5d 0, #03447d 100%);
    background-position:95% center;
    background-repeat:no-repeat;
    padding:15px 0;
}

#top-short h1 {
    font-size:200%;
}

#top-short p {
    font-size:100%;
    padding:5px;
    opacity:0.7;
}

.activities h3 {
  border-bottom : 1px solid #ccc;
  padding-top : 10px;
}

.eq_lst {
  float : left;
  margin : 3px;
  width : 200px;
}

#eq_imgs {
  clear : both;
  padding-left : 5px;
  padding-top : 10px;
}
.gallery li {
  list-style-type : none;
  display : inline;
}
.gallery a img {
  border-radius : 3px;
  border : 3px solid #eee;
}

.footer {
    text-align:center;
    color:#666;
    margin-top:0.5em;
}

@media screen and (min-width: 768px) {
    #top {
        background-image: url(../sasori.png), linear-gradient(to bottom,#052d5d 0, #03447d 100%);
        -webkit-animation: blinkeye 10s ease 0s infinite;
        -ms-animation: blinkeye 10s ease 0s infinite;
        -moz-animation: blinkeye 10s ease 0s infinite;
    }
}

@-moz-keyframes blinkeye {
    96% {
        background-image: url(../sasori.png), linear-gradient(to bottom,#052d5d 0, #03447d 100%);
		}
    98% {
        background-image: url(../sasori2.png), linear-gradient(to bottom,#052d5d 0, #03447d 100%);
		}
    100% {
        background-image: url(../sasori.png), linear-gradient(to bottom,#052d5d 0, #03447d 100%);
		}
}
@-webkit-keyframes blinkeye {
    96% {
        background-image: url(../sasori.png), linear-gradient(to bottom,#052d5d 0, #03447d 100%);
		}
    98% {
        background-image: url(../sasori2.png), linear-gradient(to bottom,#052d5d 0, #03447d 100%);
		}
    100% {
        background-image: url(../sasori.png), linear-gradient(to bottom,#052d5d 0, #03447d 100%);
		}
}
@-ms-keyframes blinkeye {
    96% {
        background-image: url(../sasori.png), linear-gradient(to bottom,#052d5d 0, #03447d 100%);
		}
    98% {
        background-image: url(../sasori2.png), linear-gradient(to bottom,#052d5d 0, #03447d 100%);
		}
    100% {
        background-image: url(../sasori.png), linear-gradient(to bottom,#052d5d 0, #03447d 100%);
		}
}

@media screen and (max-width: 768px) {
    #top {
        padding:20px 0;
    }
    #top h1 {
        font-size:200% !important;
    }
}

@media screen and (max-width: 480px) {
    #top h1 {
        font-size:140% !important;
    }
    #top p {
        font-size:120% !important;
        padding:10px;
    }
}

a:hover {
	text-decoration:none;
}

a:visited {
	color:#006bb2;
}

#wrapper {
	width:750px;
	overflow:hidden;
	margin:0 auto;
}

#navbar_shinkan {
	margin-top:20px;
	width:100%;
}

hggder {
	margin:1em 0;
}
header h1 {
	color:#0071dd;
	margin:0;
}
header h1 #titech {
	font-weight:normal;
	font-size:22px;
}
header h1 #ssr {
	font-size:24px;
}
header h1 #sinkan {
	color:#006bb2;
	font-size:32px;
}

#ssr_laboratory ul {
	margin-top:10px;
	margin-bottom:10px;
}

#ssr_laboratory ul li{
	padding-top:10px;
}

#anchor #sharebuttons {
	margin:0.5em;
}

#anchor ul {
	border-radius: 4px;
	display:block;
	margin:0;
	padding:0;
	border:1px solid #dddddd;
}

#anchor ul li {
	list-style:none;
	display:block;
	margin:0;
	padding:0;
}

#anchor ul li a {
	text-decoration:none;
	display:block;
	padding:8px 0 10px 10px;
	border-top:1px solid #dddddd;
	color:#0071dd;
}

#anchor ul li:first-child a {
	border-top:none;
}

#anchor ul li a.current {
	box-shadow: 0px 0px 3px #ccc inset;
	background-color:#f5f5f5;
	color:#666;
}

#anchor ul li a:hover {
	background-color:#f5f5f5;
}

#buttons {
	margin-left: 30px;
}	

#main {
	float:left;
}

#main #anchor {
	float:left;
	width:180px;
}

#main #contents {
	margin-left:190px;
	width:560px;
}

#main h2 {
	font-weight:normal;
	border-bottom:1px solid #ccc;
	padding:3px 0;
	margin:0.3em 0;
}

#main h3 {
	font-size:1.14em;
	margin:0.3em 0 0.1em;
}

#main ul {
	margin:0.5em;
}

#contents #headlinks {
	margin:3px 3px 8px;
	border:1px solid #CCC;
	border-radius:3px;
}

#contents #headlinks ul, #contents #headlinks li {
	margin:0;
	padding:0;
	display:block;
}

#contents #headlinks li {
	padding:2px 0 2px 10px;
}
#contents #headlinks h3 {
	margin:3px 4px 0;
	font-size:14px;
	font-weight:normal;
}

#contents #headlinks li:before {
	content: "☞";
	color:#999;
}

#contents #headlinks #hlsnd a {
	background-color:#f1ffe0;
	border-color:#31342d;
}

#contents ul {
	padding:0 1em;
}

#contents ul.events li {
	list-style-type:none;
}
#contents ul.events li:before {
	content: "● ";
}

#contents .description {
	font-size:small;
}

#main .bordered {
	margin:0;
	padding:0.5em;
	border:1px solid #666;
	border-radius:3px;
}

#contents a img {
	border-radius:3px;
	border:3px solid #eee;
}

#contents a img:hover {
	border-color:#ccc;
}

#contents .figure {
	margin:3px;
	float:right;
}

#contents .eq_lst {
	margin:0;
	list-style-type:square;
	width:150px;
	margin:3px;
	float:left;
}

#contents #etc {
	float:right;
	text-align:right;
	font-size:small;
}

#contents #eq_lst_wrapper {
	overflow:hidden;
}

#contents ul.gallery {
	margin:0;
	padding:0;
}

#contents .gallery li {
	padding:0;
	display:inline;
}

#contents #labs {
	margin:0;
	padding:0;
}
#contents #labs dt:before {
	content: "・";
}
#contents #labs dt {
	font-weight:bold;
	background-color:#FFF;
}
#contents #labs dd {
	margin-left:2em;
}

#contents #eq_imgs {
	clear:both;
}

#welcome_event ul {
	margin-top:10px;
	margin-bottom:10px;
}

#welcome_event ul li{
	padding-top:10px;
}

p {
	margin:0;
	text-indent:1em;
}

.fixed {
	top: 0;
	width: 100%;
}

hr {
    border: 0;
    height: 1px;
    background:#CCC;
}


footer {
	clear:both;
	border-top:1px solid #ccc;
	text-align:center;
	margin-top: 30px;
	margin-bottom: 50px;
	margin-left: auto;
	margin-right: auto;
}
