<section>
    <div id="links">
        <h2>リンク集</h2>
        <hr></hr>
        <ul>
            <li><a href="http://www.rogiken.org/">東京科学大学ロボット技術研究会</a> ロ技研の公式ページです</li>
            <li><a href="https://twitter.com/titech_ssr">Twitter: @titech_ssr</a> ロ技研のTwitterアカウントです</li>
            <li><a href="http://twitter.com/ssr_welcome/">Twitter: @ssr_welcome</a> 新歓用のTwitterアカウントです</li>
            <li><a href="https://blog.rogiken.org/">ロ技研ブログ</a> ロ技研の活動報告のブログです</li>
            <li><a href="https://maquinista.rogiken.org/">Maquinista</a> NHK学生ロボコンを行っているMaquinistaの公式ホームページです</li>
            <li><a href="https://t.co/zfcQr9CKXS">入部フォーム</a> 入部希望の方はこちらの入部フォームにお答えください</li>
            <li><a href="https://www.isct.ac.jp/">東京科学大学（旧東京工業大学）</a> 東京科学大学ホームページ</li>
            <li><a href="http://www.titech.ac.jp/">東京工業大学</a> 東京工業大学ホームページ</li>
        </ul>
    </div>
</section>
